* {
   font-family: "Helvetica Neue", Arial, sans-serif;
}

p {
    font-size: 1em;
}
a {
    text-decoration: none;
}

table {
    border-collapse: collapse;
    width: 80%; 
}

th {
    background-color: #d2b48c; /* Example green */
    color: black;
    text-align: left;
    padding: 12px 15px;
    font-weight: bold;
}



.meatballs {
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
body {
    padding: 10%;
    background-color: #A0A0A0;
}

h1 {
    margin: 0 auto;
}
